Inconsistent Norm Refs - IETF

```
Internet Engineering Task Force (IETF) RFC 4122, A Universally Unique Identifier (UUID) URN Namespace.
Internet Engineering Task Force (IETF) RFC 4246, International Standard Audiovisual Number (ISAN) URN Definition.
IETF RFC 5646, Tags for Identifying Languages. url: https://www.rfc-editor.org/info/rfc5646
Internet Engineering Task Force (IETF) RFC 7972, Entertainment Identifier Registry (EIDR) URN Namespace Definition.
```
Suggest (add links and conform Org name):
```
IETF RFC 4122, A Universally Unique Identifier (UUID) URN Namespace. url: https://tools.ietf.org/html/rfc4122
IETF RFC 4246, International Standard Audiovisual Number (ISAN) URN Definition. url: https://www.rfc-editor.org/rfc/rfc4246
IETF RFC 5646, Tags for Identifying Languages. url: https://www.rfc-editor.org/info/rfc5646
IETF RFC 7972, Entertainment Identifier Registry (EIDR) URN Namespace Definition. url: https://www.rfc-editor.org/rfc/rfc7972
```

Also links to RFC 5646 not present in the prose throughout. 

> Also links to RFC 5646 not present in the prose throughout.

These are not links to the normative references, but names of properties.